@using _09_Models_Binding
@model Kisi
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div>
		<p>Ad:@Model.Ad</p>
		<p>Soyad:@Model.Soyad</p>
		<p>Yas:@Model.Yas</p>
	</div>


</div>
