@model _10_Fluent_Validation.Models.Ogrenci
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Öğrenci Giriş</h2>
</div>
<div class="row">

    <div class="col-md-4 offset-4">
        <form asp-action="Login" asp-controller="Ogrenci" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Giriş" class="btn btn-danger mt-2" />
            </div>

        </form>
    </div>

</div>



