@*
    Partial View: _PartialCategory.cshtml bir view ekranın bir parçasını temsil eder ve başka view'lar içinde tekrar kullanılabilir.
*@

<div class="col-3">
	<ul>
		<li class="list-group-item">Giyim</li>
		<li class="list-group-item">Elektronik</li>
		<li class="list-group-item">Kozmetik</li>
		<li class="list-group-item">Bilgisayar</li>
	</ul>
</div>