
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="mb-3">
    <form asp-action="Login" method="post">
        <label class="form-label">Giriş Paneli</label>
        <input type="text" class="form-control" name="username"><br />
        <input type="submit" class="btn btn-success" value="Giriş" />
    </form>

</div>