@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About Controller Index2</h1>

<h1>@ViewBag.Ad</h1>

<h1>@ViewBag.Ders</h1>

@* <h1>@TempData["Şehir"]</h1> *@

<a href="/About/Index3">ANASAYFA 3</a>